{% extends 'base.html' %}

{% block title %}RadioFx{% endblock %}

{% load static %}
{% block body %}
<div class="about_p" style="background: url('{% static "bg1.jpg" %}');">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis rem, unde veritatis accusantium saepe quod doloribus assumenda nisi sit eveniet aspernatur vel temporibus architecto mollitia neque labore repudiandae. Repudiandae quidem totam nobis, dolor corporis odio vel, magnam obcaecati est, voluptatum mollitia ipsum assumenda ducimus in deleniti. Id mollitia, explicabo iure iusto dolorum, consequuntur sit voluptatibus labore illum veritatis eum officiis quo! Rerum ipsam expedita officia commodi assumenda voluptas placeat sapiente maiores iusto quo.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis, perspiciatis tempora aliquam consequuntur quae quidem quod odio cumque adipisci modi voluptas dolor iste harum veritatis possimus numquam ab, nam non? Quibusdam voluptates officia esse, eveniet itaque, maiores fugiat sed, provident illo quaerat cumque aliquam tempora. Porro blanditiis qui libero a maxime obcaecati ducimus sint cupiditate nam iure, odit reiciendis sed, harum voluptate placeat aliquam adipisci ab perferendis? Non neque consequuntur laboriosam itaque perspiciatis, possimus dicta, enim modi nisi sapiente quas optio. Et dicta, dolor omnis qui, nostrum dolore est accusantium ad totam, consequatur molestias repudiandae maxime illo voluptate doloremque?</p>
</div>

{% endblock %}